<% if @users.blank? %>
<p>Brak user.</p>
<% else%>
<p>Oto sa users</p>

<ul id = "users">
<% @users.each do |c| %>
<li> <%= link_to c.id, {:action => 'show', :id => c.id} -%></li>
<% end%>
</ ul>

<% end%>
